*
{ 
	padding:0;
	margin:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
}
body
{
	background-color: black !important; 
	width:100%;
	height:100%; 
}
#wrapper
{
	display:table;
	width:100%;
	height:100%; 
	background-image: url('../images/mobileS5.jpg'); 
	background-size: 100% 100%; 
}
#verticalAlign 
{ 
	display:table-cell; 
	vertical-align:middle; 
	width:100%; 
}
#success 
{ 
	position:absolute; 
	top:0;
	left:0; 
	width:100%; 
	height:100%; 
	background-color:black; opacity:1; 
}
#title 
{
	text-align: center;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 3.5em;
	color: rgb(47,130,194);
	text-shadow: 1px 2px 3px #ddd; }
#form 
{
	margin-top:60px; 
	text-align: center; 
	width:100%;
	margin-bottom: 20%;
}
#name
{ 
	padding:5px; 
	width:90%;
	height: 30px; 
	border:1px solid #ddd;
	border-top-left-radius:10px;
	border-top-right-radius:10px; 
}
#email 
{ 
	padding:5px; 
	width:90%;
	height: 30px; 
	border:1px solid #ddd;
	border-top:0px; 
}
#password
{
	padding: 5px; 
	width:90%; 
	height:30px; 
	border:1px solid #ddd;
	border-top:0px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px; 
}
#join 
{ 
	margin-top:60px; 
	width:94%; 
	height:40px; 
	padding: 5px; 
	border-radius: 10px;
	border: solid 1px #ff7e00;
	color: white;
	font-weight: bold;

	text-shadow: 0px 1px 1px #d16d00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa516), color-stop(100%, #f98809));
	background: -webkit-linear-gradient(#ffa516, #f98809);
	background: -moz-linear-gradient(#ffa516, #f98809);
	background: -o-linear-gradient(#ffa516, #f98809);
	-pie-background: linear-gradient(#ffa516,#f98809);
	background: linear-gradient(#ffa516,#f98809);
}
#join:hover
{
	text-shadow: 0px 1px 1px #d16d00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb526), color-stop(100%, #f99819));
	background: -webkit-linear-gradient(#ffb526, #f99819);
	background: -moz-linear-gradient(#ffb526, #f99819);
	background: -o-linear-gradient(#ffb526, #f99819);
	-pie-background: linear-gradient(#ffb526,#f99819);
	background: linear-gradient(#ffb526,#f99819);

	-moz-box-shadow: 0 0 7px #6799FF;
	-webkit-box-shadow: 0 0 7px #6799FF;
	box-shadow: 0 0 10px #6799FF;
}
#join:active
{
	text-shadow: 0px 1px 1px #d16d00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f98809), color-stop(100%, #ffa516));
	background: -webkit-linear-gradient(#f98809, #ffa516);
	background: -moz-linear-gradient(#f98809, #ffa516);
	background: -o-linear-gradient(#f98809, #ffa516);
	-pie-background: linear-gradient(#f98809,#ffa516);
	background: linear-gradient(#f98809,#ffa516);
}